@import "./variables.module.scss";

:root {
  --sidebar-width: #{$sideBarWidth};
  --narbar-height: #{$narBarHeight};
  --tagsview-height: #{$tagsViewHeight};
  --menu-bg: #{$menuBg};

  // 对页面自己写的内容使用elementplus的变量定义css变量
  // 使用的elementplus的变量已经做好暗黑模式
  --bg-color: var(--el-bg-color);
  --text-primary: var(--el-text-color-primary);
  --text-regular: var(--el-text-color-regular);
  --text-secondary: var(--el-text-color-secondary);
  --text-placeholder: var(--el-text-color-placeholder);
  --text-disabled: var(--el-text-color-disabled);
  // --el-bg-color: #141414;
  // --el-bg-color-overlay: #1d1e1f;
  // --el-text-color-primary: #e5eaf3;
  // --el-text-color-regular: #cfd3dc;
  // --el-text-color-secondary: #a3a6ad;
  // --el-text-color-placeholder: #8d9095;
  // --el-text-color-disabled: #6c6e72;

  // --el-bg-color: #ffffff;
  // --el-bg-color-page: #f2f3f5;
  // --el-bg-color-overlay: #ffffff;
  // --el-text-color-primary: #303133;
  // --el-text-color-regular: #606266;
  // --el-text-color-secondary: #909399;
  // --el-text-color-placeholder: #a8abb2;
  // --el-text-color-disabled: #c0c4cc;
}

a {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}
