@import "./variables.module.scss";

:root {
  --sidebar-width: #{$sideBarWidth};
  --narbar-height: #{$narBarHeight};
  --tagsview-height: #{$tagsViewHeight};
  --menu-bg: #{$menuBg};
}

a {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}
